* {
  box-sizing: border-box;
}

body {
  color: #4a4a4a;
  margin: 0;
  font-family: 'Alegreya', serif;
}

.wrapper {
  padding: 15px;
}

main {
  background: url( ../vertical-waves/vertical-waves.png), rgba(238,238,238, .3);
}

main div:first-of-type {
  background: #eed9e9;
}

header {
  background: #4a4a4a;
  margin: 0;
}

header div {
  margin: 0;
  padding: 10px;
}

header h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .02em;
}

main h1,
main p {
  text-align: center;
}

.intro {
  border-bottom: 4px solid black;
  margin-bottom: 2px;
}

.intro h1 {
  font-size: 1.3rem;
  letter-spacing: .02em;
  color: black;
}


 form {
   border-top: black 2px solid;
  margin-top: 3px;
}

fieldset:nth-child(1) {
  padding-bottom: 20px;
  border-bottom: black 2px solid;
}

form legend {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  padding: 20px 0;
}

input,
select,
textarea {
  background: #f8f8f8;
  
  border-radius: 3px;
  border: none;
  transition: background 1s ease-out;
}



input:focus,
select:focus {
  outline: none;
  border: #a21880 1px solid;
    background: rgba(231,21,117, .2);
}


.contact_inputs,
form,
fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
}


fieldset {
  border: none;
}



.contact_inputs input::placeholder {
  text-align: end;
  color: #999;
  text-transform: capitalize;
  font-style: italic;
  font-size: .8rem;
}



.contact_inputs input[type=text],
.contact_inputs input[type=email],
.contact_inputs input[type=tel],
form select,
form textarea {
  width: 100%;
  /* background: #f8f8f8; */
  flex: 1 100%;
  /* height: 50px; */
  margin: 15px 0;
  padding: 15px;
}

textarea {
  height: 85px;
}

.contact_inputs input:last-child {
  width: 150px;
}

/* form fieldset:nth-child(2) {
  flex-direction: row;
  
} */

.checkboxes,
.radio {
  margin: 15px 0;
}

.checkboxes,
.radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.checkboxes input,
.radio input {
  flex: 1 5%;
  margin: 10px 0;
}

.checkboxes label,
.radio label {
  flex: 1 95% ;
  padding-left: 8px;
  margin: 8px 0;
}



button {
  padding: 15px;
  background: #a21880;
  color: white;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 15px;
  transition: background .25s ease-in;
}

button:hover {
  background: rgba(162,24,128, .7);
}

footer {
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: center;
  font-size: .9rem;
  font-style: italic;
  background: #bfbfbe;
  
}






/**************
 Media Queries
**************/

@media (min-width: 768px) {
  .wrapper {
    width: 65%;
    max-width: 650px;
    margin: 0 auto;
  }

.contact_inputs {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  /* align-content: space-around; */
  justify-content: flex-start;
}  

.contact_inputs input[type=text],
.contact_inputs input[type=email],
.contact_inputs input[type=tel],
form select {
  flex: 3 75%;
  margin: 8px 0 ;
}

.contact_inputs label {
  flex: 1 25%;
}


 .contact_inputs label:last-of-type {
   max-width: 25%;
   flex: 1 25%;
}

.contact_inputs input:last-of-type {
  max-width: 25%;
  flex: 1 25% ;
} 



  
}











::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} 